
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.chart {
  width: 600px;
  height: 480px;
  border: 1px solid #ccc;
  background-color: white;
}

#tooltip {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Legend styles */
.legend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Wrap legend items to the next row if necessary */
  gap: 20px; /* Spacing between legend items */
  width: 700px; /* Matches chart width */
  margin-top: 10px; /* Add spacing between the chart and the legend */
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item rect {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-item text {
  font-size: 12px;
}

/* Tooltip styles */
#tooltip {
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#controls {
  margin: 20px;
  padding: 30px;
}
