header {
  text-align: center;
  background-color: #70CAC6;
  color: white;
  padding: 1rem;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h3 {
  margin: 10;
  padding-left: 20px;
  font-size: 1rem;
  display: block; 
}
p {
  margin: 0.5rem 0 1rem;
  display: block; 
  margin-bottom: 16px; 
}

.introduction {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.explanation {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  margin-top: 10px; 
}

.controls-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center; 
  padding: 1rem; 
  background-color: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  overflow: visible;
  text-align: center;
}

#loading-icon {
  display: none; /* Hide by default */
  position: absolute; /* Position it relative to #geo-map */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the size of the icon */
  font-size: 18px; /* Optional: Adjust text size */
  z-index: 1000; /* Ensure it stays above other elements */
}

#geo-map {
  position: relative;
  z-index: 50; 
}

svg {
  position: relative; 
  z-index: 1; 
}

.spinner {
  width: 50px; 
  height: 50px; 
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db; 
  border-radius: 50%; /*make it circular*/
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg); /*Start at 0 degrees*/
  }
  100% {
    transform: rotate(360deg); /*spin for a full circle*/
  }
}

#granularity-display {
  display: block;  
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999; /* Ensure it stays above other elements */
  pointer-events: none; /* Allow interactions with map elements underneath */
}

.chart-container p {
  margin: 0 auto; 
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.chart {
  width: 600px;
  height: 480px;
  border: 1px solid #ccc;
  background-color: white;
  display: inline-block; 
  margin-top: 20px;
}

.scatter-plot-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.heatmap-legend {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.heatmap-legend div {
  height: 10px;
  flex: 1;
}
.heatmap-legend span {
  margin: 0 5px;
}

#scatter-plot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Legend styles */
.legend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Wrap legend items to the next row if necessary */
  gap: 20px; /* Spacing between legend items */
  width: 700px; /* Matches chart width */
  margin-top: 10px; /* Add spacing between the chart and the legend */
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item rect {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-item text {
  font-size: 12px;
}

#controls {
  margin: 20px;
  padding: 30px;
}
#tooltip {
  position: absolute;
  z-index: 9999;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  opacity: 1;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#progress-bar-container {
  width: 100%;
  background-color: #ddd;
}

#progress-bar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
}

#quiz-container {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
